@import 'mixins/border_radius';
@import 'mixins/box_shadow';
@import 'mixins/transition';
@import 'mixins/no_user_select';

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  font-family: Lato;
  color: #222;
  font-weight: 400;
}

.clearer {
  clear: both;
}

a {
  color: #09C;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header.main {
  width: 100%;
  top: 0;
  padding: 15px;
  border-bottom: 1px solid #eee;
  position: fixed;
  background: rgba(255, 255, 255, 0.94);
  z-index: 1;

  .logo {
    font-weight: 400;
    font-size: 20px;
    color: #333;
    text-align: center;
    @include no-user-select;
  }

  .left, .right {
    top: 0;
    font-size: 12px;
    padding: 19px 10px;
    position: absolute;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;

    .username {
      color: #444;
      text-decoration: underline;
      cursor: pointer;
    }

    .username {
      text-decoration: none;
      position: relative;
      z-index: 2;
    }
  }
}

footer.main {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 11px;
  padding: 12px;
  color: #777;
}

.main-content {
  position: relative;
  top: 51px;
}

.home {
  margin: 15px;
}

.new-review {
  margin: 15px;

  textarea, input, select {
    display: block;
    border: 1px solid #eee;
    resize: none;
    width: 500px;
    padding: 5px;
    margin-top: 10px;
  }

  textarea {
    min-height: 300px;
  }

  .submit {
    font-size: 14px;
    margin-top: 10px;
  }
}

.review {
  .review-header {
    padding: 10px 15px;
    border-bottom: 1px dashed #eee;
    position: relative;

    .avatar {
      width: 40px;
      height: 40px;
      float: left;
      background: #eee;
      overflow: hidden;
      @include border-radius(100px);
      @include transition(500ms linear);

      &:hover {
        @include box-shadow(0px 0px 12px #09C);
      }

      img {
        width: 45px;
        height: 45px;
      }
    }

    .username {
      float: left;
      padding-left: 10px;
      padding-top: 12px;
      font-size: 16px;
    }

    .meta {
      position: absolute;
      right: 15px;
      top: 26px;
      font-size: 12px;
      color: #888;

      .time {
        font-style: italic;
      }
    }
  }

  .code {
    width: 50%;
    margin: 35px 70px;
    border-bottom: 1px dashed #eee;

    .content {
      header {
        .filename {
          font-size: 14px;
          color: #555;

          .type {
            color: #999;
          }
        }
      }

      pre.prettyprint {
        border: none;
        padding: 0;
        font-family: Inconsolata;
        padding: 20px;
        font-size: 15px;
        line-height: 1.1em;
        cursor: default;

        ol li {
          list-style: decimal;
          background: #fff;
          color: #777;

          span {
            @include transition(all 50ms linear);  
          }

          .comment {
            width: 100%;
            height: 50px;
            border: 1px solid #eee;
          }
        }
      }
    }
  }

  .comments {
    width: 500px;
    margin-left: 50px;
    padding-bottom: 50px;

    .no-comments {
      font-size: 12px;
      color: #aaa;
      font-style: italic;
      margin-top: 8px;
    }

    .new {
      margin-top: 15px;
      border-top: 1px dashed #eee;

      h1 {
        font-size: 14px;
      }

      textarea {
        width: 100%;
        height: 50px;
        border: 1px solid #eee;
        resize: none;
        margin-top: 10px;
        padding: 5px;
        @include border-radius(5px);
      }

      .submit {
        font-size: 12px;
        margin-top: 5px;
      }
    }
  }

  .comment {
    padding: 15px;
    background: #f7f7f7;
    font-size: 12px;
    margin-top: 10px;
    @include border-radius(5px);

    .avatar {
      width: 30px;
      height: 30px;
      overflow: hidden;
      float: left;
      @include border-radius(100px);

      img {
        max-width: 30px;
        max-height: 30px;
      }
    }

    .content {
      float: left;
      padding-left: 10px;
      padding-top: 0;
      color: #555;

      .username {
        padding-bottom: 8px;
        font-style: italic;
      }

      pre {
        font-size: 11px;
        margin: 8px 0;
        border: 1px solid #eee;
        @include border-radius(2px);
      }
    }

    .delete {
      display: none;
    }
  }
}
