<!DOCTYPE html>
<html>
<head>
  <title>Review My Code</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/prettify.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" type="text/css" href="https://google-code-prettify.googlecode.com/svn/loader/prettify.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,400|Inconsolata|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://jmblog.github.io/color-themes-for-google-code-prettify/css/themes/tomorrow.css">
  <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
</head>
<body>

<div class="main-content">
    <%= yield %>
</div>

<!-- <footer class="main">
    <div class="left">
        <div class="created-by">Created by <a href="#">@_ty</a>.</div>
    </div>
</footer> -->

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    Parse.FacebookUtils.init({
        appId      : '1405004339737434', // Facebook App ID
        channelUrl : '//channel.html', // Channel File
        cookie     : true, // enable cookies to allow Parse to access the session
        xfbml      : true  // parse XFBML
      });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(){
     // If we've already installed the SDK, we're done
     if (document.getElementById('facebook-jssdk')) {return;}

     // Get the first script element, which we'll use to find the parent node
     var firstScriptElement = document.getElementsByTagName('script')[0];

     // Create a new script element and set its id
     var facebookJS = document.createElement('script'); 
     facebookJS.id = 'facebook-jssdk';

     // Set the new script's source to the source of the Facebook JS SDK
     facebookJS.src = '//connect.facebook.net/en_US/all.js';

     // Insert the Facebook JS SDK into the DOM
     firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
   }());
</script>

<script type="text/javascript">
    $(function() {
        App.start();
    });
</script>

<script id="tpl-review-header" type="text/template">
    <div class="avatar">
          <img src="{{avatarUrl}}" />
      </div>
      <div class="username">{{name}}</div>
      <div class="meta">
          <div class="time">{{timestamp}}</div>
      </div>
      <div class="clearer"></div>
</script>

<script id="tpl-review-code" type="text/template">
    <div class="content">
          <header>
              <div class="filename">{{filename}} <span class="type">({{typeName}})</span></div>
          </header>
          <pre class="prettyprint linenums">{{code}}</pre>
      </div>
</script>

<script id="tpl-review-comments" type="text/template">
    <h1>Comments</h1>
    <div class="list">
        {{{comments}}}
    </div>
    <div class="new">
        <h1>New</h1>
        <textarea placeholder="Write a comment..."></textarea>
        <div class="submit">Post</div>
    </div>
</script>

<script id="tpl-review-comment" type="text/template">
    <div class="avatar">
        <img src="{{avatarUrl}}" />
    </div>
    <div class="content">
        <div class="username">{{username}} says:</div>
        {{content}}
    </div>
    <div class="clearer"></div>
</script>

<script id="tpl-main-header" type="text/template">
    <div class="logo">Review My Code</div>
    <div class="right">
        {{#loggedIn}}
            <a href="{{profileUrl}}" class="username">{{username}}</a>
        {{/loggedIn}}
        {{^loggedIn}}
            <div class="login">Login</div>
        {{/loggedIn}}
    </div>
</script>

<script id="tpl-new-review" type="text/template">
    <h1>New Reivew</h1>
    <input type="text" name="filename" placeholder="Filename" />
    <select name="type">
        <option value="1">Ruby</option>
        <option value="2">Javascript</option>
    </select>
    <textarea placeholder="Code..."></textarea>
    <div class="submit">Post!</div>
</script>

</body>
</html>
