<!DOCTYPE html>
<html>
<head>
  <title>Review My Code</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/prettify.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" type="text/css" href="https://google-code-prettify.googlecode.com/svn/loader/prettify.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,400|Inconsolata|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://jmblog.github.io/color-themes-for-google-code-prettify/css/themes/tomorrow.css">
  <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
</head>
<body>

<header class="main">
    <div class="logo">Review My Code</div>
</header>

<%= yield %>

<script type="text/javascript">
    $(function() {
        App.start();
    });
</script>

<script id="tpl-review-header" type="text/template">
    <div class="avatar">
          <img src="https://si0.twimg.com/profile_images/3384244865/c806b06aee4f4ac6e712788f935241fc.png" />
      </div>
      <div class="username">Ian Silber</div>
      <div class="meta">
          <div class="time">Submitted 2 days ago</div>
      </div>
      <div class="clearer"></div>
</script>

<script id="tpl-review-code" type="text/template">
    <div class="content">
          <header>
              <div class="filename">{{filename}} <span class="type">({{typeName}})</span></div>
          </header>
          <pre class="prettyprint linenums">{{code}}</pre>
      </div>
</script>

<script id="tpl-review-comments" type="text/template">
    <h1>Comments</h1>
    <div class="new">
        <textarea placeholder="Write a comment..."></textarea>
    </div>
</script>

</body>
</html>
